{{ define "modal-seguindo" }}
<div class="modal fade" id="modal-seguindo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seguindo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ range .Seguindo }}
                    <div class="mb-2">
                        <a href="/usuarios/{{ .ID }}" style="text-decoration: none;">{{ .Nick }}</a>
                    </div>
                {{ else }}
                    <p class="text-muted text-center">Este usuário ainda não está seguindo ninguem.</p>
                {{ end }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
{{ end }}